body {
    background: #07aaef;
    margin: 0;
    padding: 0;
}

.map {
    background: url('/static/img/map.jpg') no-repeat;
    width: 1000px;
    height: 841px;
    margin: auto;
    background-size: 1000px;
    padding-top: 12px;
}

.row {
    float: left;
    clear: both;
    margin-left: 91px;
}

.field, .field_holder, .field_content, .field_back {
    float: left;
    width: 58.4px;
    height: 58.4px;
}

.field {
    position: relative;
    overflow: hidden;
}

.field_holder, .field_content, .field_back {
    position: absolute;
    left: 0;
    top: 0;
}

.field_holder {
    background: white;
    opacity: 0.0;
}

.field_holder.active, .field_holder:hover {
    opacity: 0.3;
}

.field.with_unit .field_back {
    background-color: #000;
    opacity: 0.3;
}

.field.with_unit.can_move .field_back {
    background-color: #fff;
    opacity: 0.3;
}

.field.with_unit.can_move.move_from .field_back {
    /*background-color: #ff0;*/
    opacity: 0.6;
}

.field.move_to .field_content {
    border: 2px dotted #fff;
    width: 54.4px;
    height: 54.4px;
}

.unit {
    background-size: 58.4px auto;
    background-repeat: no-repeat;
    opacity: 0.5;
}
.field.with_unit.can_move .unit {
    opacity: 1;
}

.field.with_unit.can_move.move_from .unit {
    opacity: 1;
    border: 2px solid #ff0;
    width: 54.4px;
    height: 54.4px;
    background-size: 54.4px auto;
}

.aircraftCarrier {
    background-image: url('/static/img/icons/aircraftCarrier.png');
}
.battleship {
    background-image: url('/static/img/icons/battleship.png');
}
.destroyer {
    background-image: url('/static/img/icons/destroyer.png');
}
.mine {
    background-image: url('/static/img/icons/mine.png');
}
.patrol {
    background-image: url('/static/img/icons/patrol.png');
}
.torpedo {
    background-image: url('/static/img/icons/torpedo.png');
}
.airplane {
    background-image: url('/static/img/icons/airplane.png');
}
.cruiser {
    background-image: url('/static/img/icons/cruiser.png');
}
.fireShip {
    background-image: url('/static/img/icons/fireShip.png');
}
.minesweeper {
    background-image: url('/static/img/icons/minesweeper.png');
}
.raider {
    background-image: url('/static/img/icons/raider.png');
}
.vedette {
    background-image: url('/static/img/icons/vedette.png');
}
.atomicBomb {
    background-image: url('/static/img/icons/atomicBomb.png');
}
.cruisingSubmarine {
    background-image: url('/static/img/icons/cruisingSubmarine.png');
}
.fixedMine {
    background-image: url('/static/img/icons/fixedMine.png');
}
.MNB {
    background-image: url('/static/img/icons/MNB.png');
}
.submarine {
    background-image: url('/static/img/icons/submarine.png');
}
.unknownUnit {
    background-image: url('/static/img/icons/unknownUnit.png');
}


