body {
    background: #07aaef;
    margin: 0;
    padding: 0;
}

.map {
    background: url('/static/img/map.jpg') no-repeat;
    width: 1000px;
    height: 841px;
    margin: auto;
    background-size: 1000px;
    padding-top: 12px;
}

.row {
    float: left;
    clear: both;
    margin-left: 91px;
}

.field, .field_holder, .field_content {
    float: left;
    width: 58.4px;
    height: 58.4px;
}

.field {
    position: relative;
    overflow: hidden;
}

.field_holder, .field_content {
    position: absolute;
    left: 0;
    top: 0;
}

.field_holder {
    background: white;
    opacity: 0.0;
}

.field_holder.active, .field_holder:hover {
    opacity: 0.3;
}

